#BorderProfile {
	width: fit-content;
	padding: 0.5rem;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#PokeProfile {
	background-color: white;
	width: 35rem;
	margin: 0 auto;
	padding: 3rem;
}

#PokeProfile #PokemonPic {
	max-width: 150px;
	margin-bottom: 3rem;
}

#Logos img {
	margin-bottom: 1rem;
}

#Description {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(30deg, #ffebef 25%, #ffffff 25%, #ffffff 50%, #ffebef 50%, #ffebef 75%, #ffffff 75%, #ffffff 100%);
	background-size: 80px 46.19px;
}

#Description #Info div {
	margin-bottom: 3rem;
}

@media screen and (orientation: portrait) {
	#PokeProfile {
		width: 90%;
		padding: 1rem;
	}

	#Description {
		flex-direction: column;
	}

	#Logos {
		margin-bottom: 3rem;
	}
}
