.App {
	text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
	font-family: "Press Start 2P", cursive;
}

body {
	background-color: rgb(245, 250, 255);
	margin: 0;
}
